<div id="loading">
    <h3>Crawling URLs</h3>
    <h5>This can take a while, please be patient</h5>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>