<html>
    <head>
        <title>LinkChecker v0.0.1</title>
        <link rel="stylesheet" type="text/css" href="resources/css/main.css">
        <script type="text/javascript" src="resources/js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="resources/js/client.js"></script>
    </head>
    <body>
        {% block header %}
            <div class="header-container">
                <div class="header-left">
                    <div class="header-title"><a href="/">LinkChecker</a></div>
                </div>
                <div class="header-right">
                    <a href="search"><div class="btn btn-search">Search</div></a>
                    <div class="btn btn-check">Check</div>
                </div>
            </div>
        {% endblock %}
        <div class="uri-stats">
            <div id="uri-stats-total">Total URLs: <span>0</span></div>
            <div id="uri-stats-200">200: <span>0</span></div>
            <div id="uri-stats-404">404: <span>0</span></div>
            <div id="uri-stats-500">5xx: <span>0</span></div>
            <div id="uri-status">Status Checked: <span>Not Running</span></div>
        </div>
        <div class="uri-container">
            <form method="post" id="uri-container">
            {% for row in rows %}
            {% if row %}
                <div class="uri">
                    <input type="text" value="{{ row }}" name="uri-{{ loop.index }}"/>
                    <div class="uri-status">-</div>
                </div>
            {% endif %}
            {% endfor %}
            </form>
        </div>
    </body>
</html>